mvnw.cmd
pom.xml
help.md
mvnw
target
src/test
src/main/resources
.mvn

*.java.hsp
*.sonarj
*.sw*
.DS_Store
.settings
.springBeans
bin
build.sh
integration-repo
ivy-cache
jxl.log
jmx.log
derby.log
spring-test/test-output/
.gradle
argfile*
pom.xml
activemq-data/

classes/
/build
buildSrc/build
/spring-*/build
/spring-core/kotlin-coroutines/build
/framework-bom/build
/integration-tests/build
/src/asciidoc/build
target/

*\~
*.class
**/classpath.txt
**/.idea
**/*.iml
**/*.versionsBackup

# Eclipse artifacts, including WTP generated manifests
.classpath
.project
spring-*/src/main/java/META-INF/MANIFEST.MF

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache

# Package Files #
**/target/*.jar
**/jars/*.jar
eclipse-language-servers/**/*.jar
*.war
*.ear
**/.sts4-cache/*
**/test-projects/**/*.classpath
**/test-projects/**/*.vscode
**/test-projects/**/*.project
**/test-projects/**/*.settings
**/test-projects/**/*.springBeans

# Exceptions
!**/.mvn/wrapper/maven-wrapper.jar
!**/jdt-ls-extension/**/test-projects/**/.classpath
!**/jdt-ls-extension/**/test-projects/**/.project
!**/jdt-ls-extension/**/test-projects/**/.settings

# virtual machine crash logs, see https://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

servers/
target/
bin/
*.log

# Mac OSX aux files
.DS_Store
**/.DS_Store

third-party-open-source-licenses.txt
**/third-party-open-source-licenses/**
nohttp-cli-*.jar

unpack/
